body {
  background-color:darksalmon
}

.content {
  display: flex;
  flex-direction: column;
}

.game-title {
  font: 900 small-caps 20vh Arial, Helvetica, sans-serif;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-counter {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
  padding: 1vh;
}

.score-name {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.points {
  display: flex;
  text-align: center;
  font: 10vh Courier, FreeMono, monospace;
  color:crimson;
  background-color:lightcyan;
  font-weight: bold;
}

.card-holder {
  display: flex;
  justify-content: space-around;
}