* {
  border: 1px gray solid;
}

.scoreboard-container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.scoreboard {
  display: flex;
  flex-direction: column;
}

.scoreboard-title {
  display: flex;
  justify-content: center;
}

.score-holder {
  display: flex;
  justify-content: space-around;
}

.score {

}

.points {

}

.score-name {

}


