body {
  background-color:darksalmon
}

.content {
  display: flex;
  flex-direction: column;
}

.game-title {
  font: 900 small-caps 20vh Arial, Helvetica, sans-serif;
  text-align: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  border: 3px solid black;
  border-radius: 12px;
  padding: 1vh;
  background-color: #6CB9C3;
}

.scoreboard-counter {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
}

.score-name {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.points {
  display: flex;
  text-align: center;
  font: 50px Courier, FreeMono, monospace;
  color:crimson;
  background-color:lightcyan;
  font-weight: bold;
  width: min-content;
  padding: 5px;
  border: solid 1.5px black;
  border-radius: 10px;
}

.card-holder {
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  margin-top: 5vh;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 25px small-caps Impact, fantasy;
  border: solid 3px black;
  border-radius: 5px;
  padding: 1vh;
  width: 100px;
  height: 100px;
}

.rock {
  background-color: #9da5aa;
}

.paper {
  background-color: honeydew;
}

.scissors {
  background-color: #F5E457;
}